

  



<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <div id= "slamsubhead"> <p>Learn Geography - Through Sports</p> 
    <p id= "slamsubhead1">Free access to NCERT books re-designed with informative images, educational videos and fun facts</p>
    <p id= "slamsubhead1"></p>
  </div> 

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <%= image_tag "image1.svg", size: "630x600" %>
    </div>

    <div class="item">
      <%= image_tag "image2.svg", size: "630x600" %>
    </div>

    <div class="item">
      <%= image_tag "image3.svg", size: "630x600" %>
    </div>
  </div>

  <!-- Left and right controls -->
  
</div>

<script>
    $('.carousel').carousel({
        interval: 10 //changes the speed
    })
    </script>




    




  

<div class="modal fade bd-example-modal-lg-aboutus" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="aboutusmodal modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="modalheading">About US</h3>
      <div>EduSports works with schools to implement a best-in-class Physical Education and Sports programme. Slam, an Edusports initiative, helps to learn academic concepts via sports thereby making them more fun and engaging!</div>
      <div class= "social-media">
        <a href = "http://www.facebook.com/SportsIsEducation"><%= image_tag "facebook.png", size: "50x50" %></a>
        <a href= "http://www.twitter.com/sportsisedu"><%= image_tag "twitter.png", size: "50x50" %></a>
        <a href="http://www.edusports.in"><%= image_tag "edusports.jpg", size: "100x100" %></a>
        </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg-signin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="signinmodal modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="modalheading">Login</h3>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <div class ="form-text">Email</div>
    <%= f.text_field :email, autofocus: true %>
  </div>

  <div class="field">
    <div class ="form-text">Password</div>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

 <div class="action" font-color="white">
  <%= f.submit "LogIn",class: "btn btn-submit" %>
  </div>
<% end %>
<%= link_to "Forgot your password?", new_password_path(resource_name) %>


    </div>
  </div>
</div>
                        

                        
          
    
    




 

<div class="modal fade bd-example-modal-lg-signup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="signupmodal modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row"> <h2 class="signupmodalheading">SignUp</h2></div>
<div class="row"> 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  
<div class="col-sm-6">
      <div class="field">
    <div class ="form-text">Full Name<span id="asterik">*</span></div>
    <%= f.text_field :name, autofocus: true, :required => true %>
  </div>

 

  <div class="field">
    <div class ="form-text">Age<span id="asterik">*</span></div>
    <%= f.text_field :age, autofocus: true, :required => true %>
  </div>

  <div class="field">
    <div class ="form-text">Phone Number<span id="asterik">*</span></div>
    <%= f.text_field :number, autofocus: true, :required => true %>
  </div> 

</div>
  


  <div class="col-sm-6">
      <div class="field">
    <div class ="form-text">Email Id<span id="asterik">*</span></div>
    <%= f.text_field :email, autofocus: true, :required => true%>
  </div>

  <div class="field">
    <div class ="form-text">Password<span id="asterik">*</span></div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :required => true %>
  </div>

<div class="field">
    <div class ="form-text">Confirm Password<span id="asterik">*</span></div>
    <%= f.password_field :password_confirmation, autocomplete: "off", :required => true %>
  </div>
      

</div>
 </div>
  

<div class = "row" id="signupsubmit"><div class="actions">
    <%= f.submit "Submit",class: "btn btn-submit" %>
  </div>
<% end %></div>

    </div>
  </div>
</div>



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="contactmodal modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="modalheading">Contact Us</h3>
      <div class="contactnumber">
          <p>Get in touch with us at +91-9619139810</p>
          <p>OR</p>
          <p>Drop us a message</p>

          <%= form_for Message.new do |f| %>

  <div class="field" >
  <div class ="form-text">Name<span id="asterik">*</span></div>
  <%= f.text_field :name%><br />
  </div>

  <div class="field">
  <div class ="form-text">Phone Number<span id="asterik">*</span></div>
  <%= f.text_field :number%><br />
  </div>

  <div class="field">
    <div class ="form-text">Message<span id="asterik">*</span></div>
    <%= f.text_area :message %><br />
  </div>

  <div class="action" font-color="white">
  <%= f.submit "Submit",class: "btn btn-submit" %>
  </div>

  <% end %>
       </div>
    </div>
  </div>
</div>












   
   
   
    
        

  








   
<div id = "starting_text">
  <div class = "left-text">
      <p> Hello! I am Slam</p>
      <p> I know a bunch of cool stuff about Geography</p>
      <p> And I just love Sports!</p>
      <p> Sports is fun, makes us healthy and also helps us to focus</p>
      <p> What better than learning geography through Sports! </p>
  </div>

  <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Sounds Amazing! (click here)</button>
    </div>
</div>

<div id="sounds-amazing1">
  <div class='left-text'>
      <p> Awesome! This is how we will talk</p>
      <p> I have numerous pictures, videos, examples, facts and fun quizzes for you</p>
      <p>#SportsIsEducation</p>

      <p> Just click on the green buttons on the right to talk to me</p>
  </div>

  <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" >Let's Learn</button>
    </div>
</div>

<div id="lets-learn">
  <div class='left-text'>
    <p> Let us go through an example to understand how this will work</p>
    <p> Fun Quiz: Do you know Messi is from which country?</p>
    <p><img src="https://i.ytimg.com/vi/NilASeqRsjw/maxresdefault.jpg" height="300" width="400"></img></p>

  </div>

<span></span>
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary">Brazil</button>
      <button type="button" class="btn btn-primary">Argentina</button>
      <button type="button" class="btn btn-primary">Portugal</button>     
    </div>

</div>

<div id="brazil1">
  <div class='left-text'>
      <p>Wrong answer. The correct answer is Argentina</p>
      <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>

      <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>
      <p>Check out this video about the early days of Messi in Argentina</p>
      <p><iframe width="640" height="360" src="https://www.youtube.com/embed/H0eIjHfuLEg" frameborder="0" allowfullscreen></iframe></p>


      <p>You will find the list of chapters from your book here in the ‘Main Menu’ </p>

      <p>At the end of each chapter, you can click on ‘Main Menu’ to move on to new chapters</p>

  </div>  
    <span></span>
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Main Menu</button>
      </div> 
</div>

<div id="argentina1">
  <div class='left-text'>
      <p>Kudos! Right Answer</p>
      <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>

      <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>
      <p>Check out this video about the early days of Messi in Argentina</p>
      <p><iframe width="640" height="360" src="https://www.youtube.com/embed/H0eIjHfuLEg" frameborder="0" allowfullscreen></iframe></p>

      <p>You will find the list of chapters from your book here in the ‘Main Menu’ </p>

      <p>At the end of each chapter, you can click on ‘Main Menu’ to move on to new chapters</p>

  </div>
    <span></span>
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Main Menu</button>
      </div>
</div>

<div id="portugal1">
  <div class='left-text'>
      <p>Wrong answer. The correct answer is Argentina</p>
      <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>

      <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>

      <p>Check out this video about the early days of Messi in Argentina</p>
      <p><iframe width="640" height="360" src="https://www.youtube.com/embed/H0eIjHfuLEg" frameborder="0" allowfullscreen></iframe></p>

      <p>You will find the list of chapters from your book here in the ‘Main Menu’ </p>

      <p>At the end of each chapter, you can click on ‘Main Menu’ to move on to new chapters</p>

  </div>
    <span></span>
      <div class="col-sm-12">
          <button type="button" class="btn btn-primary">Main Menu</button>
      </div>
</div>

<div id="main-menu1">
  <div class='left-text'>
      <p>Here is the list of chapters</p>
      <p>Select any one of them and learn about it through the world of sports</p>
       
  </div>
  <span></span>
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary">Inside Our Earth</button>

    <button type="button" class="btn btn-primary">Our Changing Earth</button>

    <button type="button" class="btn btn-primary">Air</button>

    <button type="button" class="btn btn-primary">Water</button>

    <button type="button" class="btn btn-primary">Natural Vegetation & Wildlife</button>
  </div>
</div>





<div id="inside-our-earth1">
  <div class='left-text'>
      <p> Hey! You will need to sign up to access the chapters</p>
      <p> Just fill out the small form and learn everything for free!</p>

  </div>
    
    <div class="col-sm-12">
      <button class="btn btn-bottom-signup" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button> 
       </div>
   
</div>

<div id="our-changing-earth1">
  <div class='left-text'>
      <p> Hey! You will need to sign up to access the chapters</p>
      <p> Just fill out the small form and learn everything for free!</p>

  </div>
    
    <div class="col-sm-12">
     <button class="btn btn-bottom-signup" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>
     </div>        

</div>

<div id="air1">
  <div class='left-text'>
      <p> Hey! You will need to sign up to access the chapters</p>
      <p> Just fill out the small form and learn everything for free!</p>

  </div>
    
    <div class="col-sm-12">
     <button class="btn btn-bottom-signup" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>
     </div>         

</div>

<div id="water1">
  <div class='left-text'>
      <p> Hey! You will need to sign up to access the chapters</p>
      <p> Just fill out the small form and learn everything for free!</p>

  </div>
    
    <div class="col-sm-12">
      <button class="btn btn-bottom-signup" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>
      <div>        

</div>

<div id="natural-vegetation-and-wildlife1">
  <div class='left-text'>
      <p> Hey! You will need to sign up to access the chapters</p>
      <p> Just fill out the small form and learn everything for free!</p>

  </div>
    
    <div class="col-sm-12">
      <button class="btn btn-bottom-signup" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>
      <div>        

</div>
