<div class="header" >

  
  <div class="row">
    <div class="col-sm-4"><div id = "slamhead">slam</div></div>


    <div class="col-sm-8" id = "rightnav">
      
          
  <button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg-aboutus">AboutUs</button>

<div class="modal fade bd-example-modal-lg-aboutus" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="aboutusmodal modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="modalheading">About US</h3>
      <div>ENTERTEXT</div>


    </div>
  </div>
</div>

<button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg-signin">Login</button>

<div class="modal fade bd-example-modal-lg-signin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="signinmodal modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="modalheading">Login</h3>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <div class ="form-text">Email</div>
    <%= f.text_field :email, autofocus: true %>
  </div>

  <div class="field">
    <div class ="form-text">Password</div>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

 <div class="action" font-color="white">
  <%= f.submit "LogIn",class: "btn btn-submit" %>
  </div>
<% end %>
<%= link_to "Forgot your password?", new_password_path(resource_name) %>


    </div>
  </div>
</div>
                        

                        
          
    
    




 <button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>

<div class="modal fade bd-example-modal-lg-signup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="signupmodal modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row"> <h2 class="signupmodalheading">SignUp</h2></div>
<div class="row"> 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <div class="col-sm-8"><h3 class="modalsubheading">Student Details</h3>
    <div class="col-sm-6">

      <div class="field">
    <div class ="form-text">Full Name<span id="asterik">*</span></div>
    <%= f.text_field :name, autofocus: true, :required => true %>
  </div>

  
  <div class="field">
    <div class ="form-text">Email Id<span id="asterik">*</span></div>
    <%= f.text_field :email, autofocus: true, :required => true%>
  </div>

  <div class="field">
    <div class ="form-text">Password<span id="asterik">*</span></div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :required => true %>
  </div>

<div class="field">
    <div class ="form-text">Confirm Password<span id="asterik">*</span></div>
    <%= f.password_field :password_confirmation, autocomplete: "off", :required => true %>
  </div>

</div>
     <div class="col-sm-6"> 
      
<div class="field">
    <div class ="form-text">Phone Number<span id="asterik">*</span></div>
    <%= f.text_field :number, autofocus: true, :required => true %>
  </div>  
  
  <div class="field">
    <div class ="form-text">School</div>
    <%= f.text_field :school, autofocus: true %>
  </div>

  <div class="field">
    <div class ="form-text">Standard</div>
    <%= f.text_field :standard, autofocus: true %>
  </div>

  <div class="field">
    <div class ="form-text">Section</div>
    <%= f.text_field :standard, autofocus: true %>
  </div>

</div>
 </div>
  <div class="col-sm-4"><h3 class="modalsubheading">Parents Details</h3>
    <div class="field">
    <div class ="form-text">Name<span id="asterik">*</span></div>
    <%= f.text_field :parentname, autofocus: true, :required => true %>
</div>

<div class="field">
    <div class ="form-text">Relationship With Mentioned Person<span id="asterik">*</span></div>
    <%= f.text_field :relationship, autofocus: true, :required => true %>
</div>

<div class="field">
    <div class ="form-text">Phone Number<span id="asterik">*</span></div>
    <%= f.text_field :parentnumber, autofocus: true, :required => true %>
</div>

<div class="field">
    <div class ="form-text">Email Id<span id="asterik">*</span></div>
    <%= f.text_field :parentemail, autofocus: true, :required => true %>
</div>

  </div>
</div>
<div class = "row" id="signupsubmit"><div class="actions">
    <%= f.submit "Submit",class: "btn btn-submit" %>
  </div>
<% end %></div>

    </div>
  </div>
</div>

<button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg">Contact Us</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="contactmodal modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="modalheading">Contact Us</h3>
      <div class="contactnumber">
          <p>Get in touch with us at +91-9619139810</p>
          <p>OR</p>
          <p>Drop us a message</p>

          <%= form_for Message.new do |f| %>

  <div class="field" >
  <div class ="form-text">Name<span id="asterik">*</span></div>
  <%= f.text_field :name%><br />
  </div>

  <div class="field">
  <div class ="form-text">Phone Number<span id="asterik">*</span></div>
  <%= f.text_field :number%><br />
  </div>

  <div class="field">
    <div class ="form-text">Message<span id="asterik">*</span></div>
    <%= f.text_area :message %><br />
  </div>

  <div class="action" font-color="white">
  <%= f.submit "Submit",class: "btn btn-submit" %>
  </div>

  <% end %>
       </div>
    </div>
  </div>
</div>












   
   
    </div>
    <div id ="slamsubhead">For Class 7. Learn Geography through Sports</div>
        
  </div>
  
</div>







   
<div class = "starting_text">
  <div class = "left-text">
      <p> Hello! I am Slam</p>
      <p> I know a bunch of cool stuff about Geography</p>
      <p> And I just love Sports!</p>
      <p> Sports is fun, makes us healthy and also helps us to focus</p>
      <p> What better than learning geography through Sports! </p>
  </div>

  <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Sounds Amazing! (click here)</button>
    </div>
</div>

<div id="sounds-amazing1">
  <div class='left-text'>
      <p> Awesome! This is how we will talk</p>
      <p> I have numerous pictures, videos, examples, facts and fun quizzes for you</p>
      <p>#SportsIsEducation</p>

      <p> Just click on the green buttons on the right to talk to me</p>
  </div>

  <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Let us Learn!</button>
    </div>
</div>

<div id="let-us-learn1">
  <div class='left-text'>
    <p> Let us go through an example to understand how this will work</p>
    <p> Fun Quiz: Do you know Messi is from which country?</p>
    <p><img src="https://i.ytimg.com/vi/NilASeqRsjw/maxresdefault.jpg" height="300" width="400"></img></p>

  </div>

<span></span>
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary">Brazil</button>
      <button type="button" class="btn btn-primary">Argentina</button>
      <button type="button" class="btn btn-primary">Portugal</button>     
    </div>

</div>

<div id="brazil1">
  <div class='left-text'>
      <p>Wrong answer. The correct answer is Argentina</p>
      <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>

      <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>
      <p>Check out this video about the early days of Messi in Argentina</p>
      <p><iframe width="640" height="360" src="https://www.youtube.com/embed/H0eIjHfuLEg" frameborder="0" allowfullscreen></iframe></p>


      <p>You will find the list of chapters from your book here in the ‘Main Menu’ </p>

      <p>At the end of each chapter, you can click on ‘Main Menu’ to move on to new chapters</p>

  </div>  
    <span></span>
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Main Menu</button>
      </div> 
</div>

<div id="argentina1">
  <div class='left-text'>
      <p>Kudos! Right Answer</p>
      <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>

      <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>
      <p>Check out this video about the early days of Messi in Argentina</p>
      <p><iframe width="640" height="360" src="https://www.youtube.com/embed/H0eIjHfuLEg" frameborder="0" allowfullscreen></iframe></p>

      <p>You will find the list of chapters from your book here in the ‘Main Menu’ </p>

      <p>At the end of each chapter, you can click on ‘Main Menu’ to move on to new chapters</p>

  </div>
    <span></span>
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Main Menu</button>
      </div>
</div>

<div id="portugal1">
  <div class='left-text'>
      <p>Wrong answer. The correct answer is Argentina</p>
      <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>

      <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>

      <p>Check out this video about the early days of Messi in Argentina</p>
      <p><iframe width="640" height="360" src="https://www.youtube.com/embed/H0eIjHfuLEg" frameborder="0" allowfullscreen></iframe></p>

      <p>You will find the list of chapters from your book here in the ‘Main Menu’ </p>

      <p>At the end of each chapter, you can click on ‘Main Menu’ to move on to new chapters</p>

  </div>
    <span></span>
      <div class="col-sm-12">
          <button type="button" class="btn btn-primary">Main Menu</button>
      </div>
</div>

<div id="main-menu1">
  <div class='left-text'>
      <p>Here is the list of chapters</p>
      <p>Select any one of them and learn about it through the world of sports</p>
       
  </div>
  <span></span>
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary">Inside Our Earth</button>

    <button type="button" class="btn btn-primary">Our Changing Earth</button>

    <button type="button" class="btn btn-primary">Air</button>

    <button type="button" class="btn btn-primary">Water</button>

    <button type="button" class="btn btn-primary">Natural Vegetation & Wildlife</button>
  </div>
</div>





<div id="inside-our-earth1">
  <div class='left-text'>
      <p> Hey! You will need to sign up to access the chapters</p>
      <p> Just fill out the small form and learn everything for free!</p>

  </div>
    <span></span>
    <div class="col-sm-12">
      <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button> 
       </div>
   
</div>

<div id="our-changing-earth1">
  <div class='left-text'>
      <p> Hey! You will need to sign up to access the chapters</p>
      <p> Just fill out the small form and learn everything for free!</p>

  </div>
    <span></span>
    <div class="col-sm-12">
     <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>
     </div>        

</div>

<div id="air1">
  <div class='left-text'>
      <p> Hey! You will need to sign up to access the chapters</p>
      <p> Just fill out the small form and learn everything for free!</p>

  </div>
    <span></span>
    <div class="col-sm-12">
     <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>
     </div>         

</div>

<div id="water1">
  <div class='left-text'>
      <p> Hey! You will need to sign up to access the chapters</p>
      <p> Just fill out the small form and learn everything for free!</p>

  </div>
    <span></span>
    <div class="col-sm-12">
      <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>
      <div>        

</div>

<div id="natural-vegetation-and-wildlife1">
  <div class='left-text'>
      <p> Hey! You will need to sign up to access the chapters</p>
      <p> Just fill out the small form and learn everything for free!</p>

  </div>
    <span></span>
    <div class="col-sm-12">
    <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>
    </div>       
</div>
