<div class="header" >

  
  <div class="row">
    <div class="col-sm-4"><div id = "slamhead">slam</div></div>


    <div class="col-sm-8" id = "rightnav">
      
          
  <button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg-aboutus">AboutUs</button>

<div class="modal fade bd-example-modal-lg-aboutus" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="aboutusmodal modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="modalheading">About US</h3>
      <div>ENTERTEXT</div>


    </div>
  </div>
</div>

<button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg-signin">Login</button>

<div class="modal fade bd-example-modal-lg-signin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="signinmodal modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="modalheading">Login</h3>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <div class ="form-text">Email</div>
    <%= f.text_field :email, autofocus: true %>
  </div>

  <div class="field">
    <div class ="form-text">Password</div>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

 <div class="action" font-color="white">
  <%= f.submit "LogIn",class: "btn btn-submit" %>
  </div>
<% end %>
<%= link_to "Forgot your password?", new_password_path(resource_name) %>


    </div>
  </div>
</div>
                        

                        
          
    
    




 <button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>

<div class="modal fade bd-example-modal-lg-signup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="signupmodal modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row"> <h2 class="signupmodalheading">SignUp</h2></div>
<div class="row"> 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <div class="col-sm-8"><h3 class="modalsubheading">Student Details</h3>
    <div class="col-sm-6">

      <div class="field">
    <div class ="form-text">Full Name<span id="asterik">*</span></div>
    <%= f.text_field :name, autofocus: true, :required => true %>
  </div>

  
  <div class="field">
    <div class ="form-text">Email Id<span id="asterik">*</span></div>
    <%= f.text_field :email, autofocus: true, :required => true%>
  </div>

  <div class="field">
    <div class ="form-text">Password<span id="asterik">*</span></div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :required => true %>
  </div>

<div class="field">
    <div class ="form-text">Confirm Password<span id="asterik">*</span></div>
    <%= f.password_field :password_confirmation, autocomplete: "off", :required => true %>
  </div>

</div>
     <div class="col-sm-6"> 
      
<div class="field">
    <div class ="form-text">Phone Number<span id="asterik">*</span></div>
    <%= f.text_field :number, autofocus: true, :required => true %>
  </div>  
  
  <div class="field">
    <div class ="form-text">School</div>
    <%= f.text_field :school, autofocus: true %>
  </div>

  <div class="field">
    <div class ="form-text">Standard</div>
    <%= f.text_field :standard, autofocus: true %>
  </div>

  <div class="field">
    <div class ="form-text">Section</div>
    <%= f.text_field :standard, autofocus: true %>
  </div>

</div>
 </div>
  <div class="col-sm-4"><h3 class="modalsubheading">Parents Details</h3>
    <div class="field">
    <div class ="form-text">Name<span id="asterik">*</span></div>
    <%= f.text_field :parentname, autofocus: true, :required => true %>
</div>

<div class="field">
    <div class ="form-text">Relationship With Mentioned Person<span id="asterik">*</span></div>
    <%= f.text_field :relationship, autofocus: true, :required => true %>
</div>

<div class="field">
    <div class ="form-text">Phone Number<span id="asterik">*</span></div>
    <%= f.text_field :parentnumber, autofocus: true, :required => true %>
</div>

<div class="field">
    <div class ="form-text">Email Id<span id="asterik">*</span></div>
    <%= f.text_field :parentemail, autofocus: true, :required => true %>
</div>

  </div>
</div>
<div class = "row" id="signupsubmit"><div class="actions">
    <%= f.submit "Submit",class: "btn btn-submit" %>
  </div>
<% end %></div>

    </div>
  </div>
</div>

<button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg">Contact Us</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="contactmodal modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="modalheading">Contact Us</h3>
      <div class="contactnumber">
          <p>Get in touch with us at +91-9619139810</p>
          <p>OR</p>
          <p>Drop us a message</p>

          <%= form_for Message.new do |f| %>

  <div class="field" >
  <div class ="form-text">Name<span id="asterik">*</span></div>
  <%= f.text_field :name%><br />
  </div>

  <div class="field">
  <div class ="form-text">Phone Number<span id="asterik">*</span></div>
  <%= f.text_field :number%><br />
  </div>

  <div class="field">
    <div class ="form-text">Message<span id="asterik">*</span></div>
    <%= f.text_area :message %><br />
  </div>

  <div class="action" font-color="white">
  <%= f.submit "Submit",class: "btn btn-submit" %>
  </div>

  <% end %>
       </div>
    </div>
  </div>
</div>












   
   
    </div>
    <div id ="slamsubhead">For Class 7. Learn Geography through Sports</div>
        
  </div>
  
</div>









<div class = "starting_text">
    <div class = "left-text">
        <p>Hello! My name is SLAM</p>
        <p>Chat with me and get to know more</p>
        <p>I am here to help you learn Geography through Sports :)</p>
    </div>

    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">How? (click here)</button>
        </div>
</div>

<div id = 'footer'> </div>


<div id="how">
    <div class='left-text'>
        <p>Geography is about everything that is around us </p>
           <p>We will be learning through a lot of sports images, videos, fun facts, quizzes! </p>
           <p>Just click on boxes on right to chat with me!</p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Let's Learn!</button>
        </div>
</div>

<div id="lets-learn">
    <div class='left-text' class="row">
        <p>FUN QUIZ:</p>
           <p>Messi is from which country?</p>
           <p><img src="https://i.ytimg.com/vi/j9u1Uj5CPmg/maxresdefault.jpg" height="250" width="300"></p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Brazil</button>
            <button type="button" class="btn btn-primary">Argentina</button>
            <button type="button" class="btn btn-primary">Portugal</button>           
        </div>
</div>

<div id="brazil">
    <div class='left-text'>
           <p>OOPS! Wrong answer. The correct answer is Argentina</p>
           <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>
           <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>
          
     </div>
    <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">More fun facts!</button>
        <button type="button" class="btn btn-primary">List of Chapters</button>
    </div>
</div>

<div id="portugal">
    <div class='left-text'>
           <p>OOPS! Wrong answer. The correct answer is Argentina</p>
           <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>
           <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>
           
          
     </div>
    <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">More fun facts!</button>
        <button type="button" class="btn btn-primary">List of Chapters</button>
    </div>
</div>

<div id="argentina">
    <div class='left-text'>
           <p>Right answer!</p>
           <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>
           <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>
           
       </div>
    <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">More fun facts!</button>
        <button type="button" class="btn btn-primary">List of Chapters</button>
    </div>
</div>

<div id="list-of-chapters">
    <div class='left-text'>
           <p>Hey! Select the chapter you would like to learn today:</p>
           <p><img src="http://ncertbooks.prashanthellina.com/class_7.SocialScience.OurEnvironment/image.jpg" height="300" width="200"></img></p>
           
    </div>
    <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Inside Our Earth</button>
    </div>
</div>

<div id="more-fun-facts">
    <div class='left-text'>
           <p>Hey! Right now I had only this. And one more chapter from your book:</p>   
    </div>
    <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Inside Our Earth</button>
    </div>
</div>

<div id="inside-our-earth">
    <div class='left-text'>
           <p>Intro to the chapter</p>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=0&end=15" frameborder="0" allowfullscreen></iframe></p>   
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Layers of Earth</button>
        </div>
</div>

<div id="layers-of-earth">
    <div class='left-text'>
           <p>Earth is very similar to a 'Cricket Ball'</p>
           <p>See how</p>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=17&end=57" frameborder="0" allowfullscreen></iframe></p>   
           <p>QUICK QUIZ: What is the middle layer of earth called?</p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Crust</button>
            <button type="button" class="btn btn-primary">Mantle</button>
            <button type="button" class="btn btn-primary">Core</button>
        </div>
</div>

<div id="crust">
    <div class='left-text'>
           <p>Ohh! Wrong answer. The correct answer is 'Mantle'</p>
           <p>Lets move on to the next part of the chapter - ROCKS</p>
           <p>The earth’s crust is made up of various types of rocks</p>
           <p>Panathenaic stadium in Greece is completely made up of Marble - A Metamorphic Rock</p>
           <p>It hosted the first olympis games of the Modern Era in 1896</p>
           <p><img src="http://president.gr/wp-content/uploads/2015/10/PANATHINAIKO03-900x600.jpg" height="200" width="300"></img></p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">More Metamorphic Rocks</button>
            <button type="button" class="btn btn-primary">Next Rock Type</button>
        </div>
</div>

<div id="mantle">
    <div class='left-text'>
           <p>Correct answer. Good Job! </p>
           <p>Lets move on to the next part of the chapter - ROCKS</p>
           <p>The earth’s crust is made up of various types of rocks</p>
           <p>Panathenaic stadium in Greece is completely made up of Marble - A Metamorphic Rock</p>
           <p>It hosted the first olympis games of the Modern Era in 1896</p>
           <p><img src="http://president.gr/wp-content/uploads/2015/10/PANATHINAIKO03-900x600.jpg" height="200" width="300"></img></p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">More Metamorphic Rocks</button>
            <button type="button" class="btn btn-primary">Next Rock Type</button>
        </div>
</div>

<div id="core">
    <div class='left-text'>
           <p>Ohh! Wrong answer. The correct answer is 'Mantle'</p>
           <p>Lets move on to the next part of the chapter - ROCKS</p>
           <p>The earth’s crust is made up of various types of rocks</p>
           <p>Panathenaic stadium in Greece is completely made up of Marble - A Metamorphic Rock</p>
           <p>It hosted the first olympis games of the Modern Era in 1896</p>
           <p><img src="http://president.gr/wp-content/uploads/2015/10/PANATHINAIKO03-900x600.jpg" height="200" width="300"></img></p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">More Metamorphic Rocks</button>
            <button type="button" class="btn btn-primary">Next Rock Type</button>
        </div>
</div>

<div id="more-metamorphic-rocks">
    <div class='left-text'>
           <p>Here are some examples</p>
           <p><img src="http://image.slidesharecdn.com/typesofrocks-090612111123-phpapp02/95/types-of-rocks-14-728.jpg" height="450" width="450"></img></p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Next Rock Type</button>
        </div>
</div>

<div id="next-rock-type">
    <div class='left-text'>
           <p>Limestone and RedBrick are Sedimentary rocks.</p>
           <p>These are used in Tennis clay courts</p>
           <p>The earth’s crust is made up of various types of rocks</p>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=169&end=254" frameborder="0" allowfullscreen></iframe></p>
           <p>Yay! We have covered 2 types of rocks. Only one remains.</p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Last Rock Type</button>
        </div>
</div>

<div id="last-rock-type">
    <div class='left-text'>
           <p>Igneous rocks are formed through the cooling and solidification of Magma or Lava</p>
           <p>Granite is an example of Igneous rock</p>
           <p>Granite plays a major part in one of the unique sports. Find out:</p>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=261&end=305" frameborder="0" allowfullscreen></iframe></p>
           <p>We now know what type of rocks are there.</p>
           <p>But how are these rocks formed?</p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Formation of Rocks</button>
        </div>
</div>

<div id="formation-of-rocks">
    <div class='left-text'>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=78&end=167" frameborder="0" allowfullscreen></iframe></p>
           <p>And we are done! This is what the chapter was all about</p>
           <p>Here's the complete video for full recap</p>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=0&end=15" frameborder="0" allowfullscreen></iframe></p>
           <p>SPORTS IS EDUCATION :)</p>


           
