<div class="header" >
  <div class="intro">
    <div class="col-sm-4" id="slamhead">SLAM</div>
    <div class="col-sm-8" >
      
          
                          <button type="button" class="btn btn-head" id="opener-4">Sign In</button>
                        
          
    
          <button type="button" class="btn btn-head"  id="opener-3">Contact Us</button>
   

          <%= link_to 'Signup', signup_path, class: "btn btn-head", type: "button" %>
   
    </div>
    <div class="col-sm-12" id ="slamsubhead">Class 7 Geography through Sports</div>
        
  </div>

   

    <div id="contactus" title="Contact Us">
       <div class="contactnumber">
          <p>Get in touch with us at +91-9619139810</p>
          <p>OR</p>
          <p>Drop us a message</p>

          <%= form_for Message.new do |f| %>

  <div class="field" >
  <div class ="form-text">Name</div>
  <%= f.text_field :name%><br />
  </div>

  <div class="field">
  <div class ="form-text">Number</div>
  <%= f.text_field :number%><br />
  </div>

  <div class="field">
    <div class ="form-text">Message</div>
    <%= f.text_area :message %><br />
  </div>

  <div class="action" font-color="white">
  <%= f.submit "Submit",class: "btn btn-submit" %>
  </div>

  <% end %>
       </div>

    </div>

    <div id="signin" title="Sign In">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

 <div class="action" font-color="white">
  <%= f.submit "LogIn",class: "btn btn-submit" %>
  </div>
<% end %>
<%= link_to "Forgot your password?", new_password_path(resource_name) %>
</div>




      </div>
 </div>
















 
      <!-- CSS -->
      <style>

            .ui-widget-header,.ui-state-default, ui-button{
            background:#012d4d;
            border: 1px solid white;
            text-align:center;
            color: white  ;
            font-size:150%;
            }
            #contactus,#signin{
              background: white;
              text-align: center;
            }
            .intro{
              float:right;
              height:100px;
              width:100%;
              padding:30px;
              
            }
            #slamhead{
              padding-left: 150px;
              font-size: 70px;
              float:left;
              color: #012d4d;
              font-weight: bold;
            }
            #slamsubhead{
              font-size: 40px;
              text-align: left;
              height: 100px;
              padding-left: 70px;
              padding-bottom: 100px;
              margin-top: 10px;
              font-weight: bold;
              margin-top:30px;
              color: black;
              
            }
            #startbtn{
              
              height:300px;
              padding-top: 110px;

            }
            .btnstart{background-color: #2CDE10;color:black;}
            .startuprow{
              height:300px;

              padding-top: 50px;
            }
      </style>
      <!-- Javascript -->
      <script>
         $(function() {
            $( "#contactus" ).dialog({
               autoOpen: false, 
               hide: "puff",
               modal: true,
               show : "slide",
               height:460,
               width:350  
            });
            $( "#opener-3" ).click(function() {
               $( "#contactus" ).dialog( "open" );
            });
         });
         $(function() {
            $( "#signin" ).dialog({
               autoOpen: false, 
               hide: "puff",
               modal: true,
               show : "slide",
               height:330,
               width:300  
            });
            $( "#opener-4" ).click(function() {
               $( "#signin" ).dialog( "open" );
            });
            $(function() {
            $(".startuprow").hide();
            $(".btnstart").click(function() {
              $(".intro").hide();
              $(".startuprow").show();

            });

            });
         });

      </script>


<div class = "starting_text">
    <div class = "left-text">
        <p>Hello! My name is SLAM</p>
        <p>Chat with me and get to know more</p>
        <p>I am here to help you learn Geography through Sports :)</p>
    </div>

    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">How? (click here)</button>
        </div>
</div>


<div id="how">
    <div class='left-text'>
        <p>Geography is about everything that is around us </p>
           <p>We will be learning through a lot of sports images, videos, fun facts, quizzes! </p>
           <p>Just click on boxes on right to chat with me!</p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Let's Learn!</button>
        </div>
</div>

<div id="lets-learn">
    <div class='left-text' class="row">
        <p>FUN QUIZ:</p>
           <p>Messi is from which country?</p>
           <p><img src="https://i.ytimg.com/vi/j9u1Uj5CPmg/maxresdefault.jpg" height="250" width="300"></p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Brazil</button>
            <button type="button" class="btn btn-primary">Argentina</button>
            <button type="button" class="btn btn-primary">Portugal</button>           
        </div>
</div>

<div id="brazil">
    <div class='left-text'>
           <p>OOPS! Wrong answer. The correct answer is Argentina</p>
           <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>
           <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>
          
     </div>
    <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">More fun facts!</button>
        <button type="button" class="btn btn-primary">List of Chapters</button>
    </div>
</div>

<div id="portugal">
    <div class='left-text'>
           <p>OOPS! Wrong answer. The correct answer is Argentina</p>
           <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>
           <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>
           
          
     </div>
    <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">More fun facts!</button>
        <button type="button" class="btn btn-primary">List of Chapters</button>
    </div>
</div>

<div id="argentina">
    <div class='left-text'>
           <p>Right answer!</p>
           <p>By land area, Argentina is the 2nd largest country in South America and the 8th largest country in the World</p>
           <p><img src="http://i689.photobucket.com/albums/vv256/xxxirapuatoxxx/messi.png" height="300" width="200"></img></p>
           
       </div>
    <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">More fun facts!</button>
        <button type="button" class="btn btn-primary">List of Chapters</button>
    </div>
</div>

<div id="list-of-chapters">
    <div class='left-text'>
           <p>Hey! Select the chapter you would like to learn today:</p>
           <p><img src="http://ncertbooks.prashanthellina.com/class_7.SocialScience.OurEnvironment/image.jpg" height="300" width="200"></img></p>
           
    </div>
    <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Inside Our Earth</button>
    </div>
</div>

<div id="more-fun-facts">
    <div class='left-text'>
           <p>Hey! Right now I had only this. And one more chapter from your book:</p>   
    </div>
    <span></span>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">Inside Our Earth</button>
    </div>
</div>

<div id="inside-our-earth">
    <div class='left-text'>
           <p>Intro to the chapter</p>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=0&end=15" frameborder="0" allowfullscreen></iframe></p>   
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Layers of Earth</button>
        </div>
</div>

<div id="layers-of-earth">
    <div class='left-text'>
           <p>Earth is very similar to a 'Cricket Ball'</p>
           <p>See how</p>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=17&end=57" frameborder="0" allowfullscreen></iframe></p>   
           <p>QUICK QUIZ: What is the middle layer of earth called?</p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Crust</button>
            <button type="button" class="btn btn-primary">Mantle</button>
            <button type="button" class="btn btn-primary">Core</button>
        </div>
</div>

<div id="crust">
    <div class='left-text'>
           <p>Ohh! Wrong answer. The correct answer is 'Mantle'</p>
           <p>Lets move on to the next part of the chapter - ROCKS</p>
           <p>The earth’s crust is made up of various types of rocks</p>
           <p>Panathenaic stadium in Greece is completely made up of Marble - A Metamorphic Rock</p>
           <p>It hosted the first olympis games of the Modern Era in 1896</p>
           <p><img src="http://president.gr/wp-content/uploads/2015/10/PANATHINAIKO03-900x600.jpg" height="200" width="300"></img></p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">More Metamorphic Rocks</button>
            <button type="button" class="btn btn-primary">Next Rock Type</button>
        </div>
</div>

<div id="mantle">
    <div class='left-text'>
           <p>Correct answer. Good Job! </p>
           <p>Lets move on to the next part of the chapter - ROCKS</p>
           <p>The earth’s crust is made up of various types of rocks</p>
           <p>Panathenaic stadium in Greece is completely made up of Marble - A Metamorphic Rock</p>
           <p>It hosted the first olympis games of the Modern Era in 1896</p>
           <p><img src="http://president.gr/wp-content/uploads/2015/10/PANATHINAIKO03-900x600.jpg" height="200" width="300"></img></p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">More Metamorphic Rocks</button>
            <button type="button" class="btn btn-primary">Next Rock Type</button>
        </div>
</div>

<div id="core">
    <div class='left-text'>
           <p>Ohh! Wrong answer. The correct answer is 'Mantle'</p>
           <p>Lets move on to the next part of the chapter - ROCKS</p>
           <p>The earth’s crust is made up of various types of rocks</p>
           <p>Panathenaic stadium in Greece is completely made up of Marble - A Metamorphic Rock</p>
           <p>It hosted the first olympis games of the Modern Era in 1896</p>
           <p><img src="http://president.gr/wp-content/uploads/2015/10/PANATHINAIKO03-900x600.jpg" height="200" width="300"></img></p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">More Metamorphic Rocks</button>
            <button type="button" class="btn btn-primary">Next Rock Type</button>
        </div>
</div>

<div id="more-metamorphic-rocks">
    <div class='left-text'>
           <p>Here are some examples</p>
           <p><img src="http://image.slidesharecdn.com/typesofrocks-090612111123-phpapp02/95/types-of-rocks-14-728.jpg" height="450" width="450"></img></p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Next Rock Type</button>
        </div>
</div>

<div id="next-rock-type">
    <div class='left-text'>
           <p>Limestone and RedBrick are Sedimentary rocks.</p>
           <p>These are used in Tennis clay courts</p>
           <p>The earth’s crust is made up of various types of rocks</p>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=169&end=254" frameborder="0" allowfullscreen></iframe></p>
           <p>Yay! We have covered 2 types of rocks. Only one remains.</p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Last Rock Type</button>
        </div>
</div>

<div id="last-rock-type">
    <div class='left-text'>
           <p>Igneous rocks are formed through the cooling and solidification of Magma or Lava</p>
           <p>Granite is an example of Igneous rock</p>
           <p>Granite plays a major part in one of the unique sports. Find out:</p>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=261&end=305" frameborder="0" allowfullscreen></iframe></p>
           <p>We now know what type of rocks are there.</p>
           <p>But how are these rocks formed?</p>
    </div>
    <span></span>
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary">Formation of Rocks</button>
        </div>
</div>

<div id="formation-of-rocks">
    <div class='left-text'>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=78&end=167" frameborder="0" allowfullscreen></iframe></p>
           <p>And we are done! This is what the chapter was all about</p>
           <p>Here's the complete video for full recap</p>
           <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ssPFrDaTK4w?start=0&end=15" frameborder="0" allowfullscreen></iframe></p>
           <p>SPORTS IS EDUCATION :)</p>
           
