<!DOCTYPE html>
<html>
  <head>
    <title>SlamBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.js"></script>

  </head>
  

  <body>
  	 

  	
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="row">
        

                        <% if user_signed_in? %>
                        <div class="col-sm-4"><div id = "slamhead"><%= image_tag "logo.jpg", size: "180x60" %></div></div>
        <div class="col-sm-8" id = "rightnav">
        <button class="btn btn-head btn-logout" data-toggle="modal" data-target=".bd-example-modal-lg-aboutus">AboutUs</button>
         <button class="btn btn-head btn-logout" data-toggle="modal" data-target=".bd-example-modal-lg">Contact Us</button>
         <%= link_to "Logout", destroy_user_session_path,:method => :delete, :class => 'btn btn-head btn-logout' %>
                          
                        <% else %>
                        <div class="col-sm-4"><div id = "slamhead"><%= image_tag "logo.jpg", size: "180x60" %></div></div>
        <button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg-aboutus">AboutUs</button>
         <button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg-signup">Signup</button>
         <button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg">Contact Us</button>
         <button class="btn btn-head" data-toggle="modal" data-target=".bd-example-modal-lg-signin">Login</button>
                          
                        <% end %>
        <div>
      </div>
     
    </nav>
      <div class= "top-container">
    	<%= yield %>
       </div>
    </div>
  </body>
</html>	

